h1 {
    color: maroon;
    padding: 24px;
  }
  
p{
    padding: 24px;
}

nav {
    background-color: maroon;
    letter-spacing: 0.5px;
}

.withgap {
    width: 49%;
    margin-right:1%;
}

.col-sm{
    background-color: bisque;
    padding: 20px;
}