h1 {
    background-color: bisque;
    color: maroon;
    padding: 24px;
    font-family: "Baskerville", serif;
  }
  
p{
    background-color: bisque;
    color: maroon;
    padding: 6px 24px 12px 24px;
}

body {
    background-color: bisque;
    color: black; ;
    text-align: justify;
    padding: 6px 6px 6px;
}

nav {
    background-color: maroon;
    letter-spacing: 0.5px;
}

a.nav{ text-decoration: none;}
a#not-nav:link{
    color: rgb(234, 40, 10);
    text-decoration: none;
}
a#not-nav:visited{color: #1b581b}
a#not-nav:hover{color: #a00505}

.ul1:link{text-decoration: none;}

table {
    padding: 6px 30px 12px 60px;
    border: 5px solid black;
    font-family: "Arial", sans-serif;
    font-size: medium;
    letter-spacing: 1px;
}

.a{list-style: lower-roman; }
.b{list-style: lower-alpha;}
.c{list-style: square;}
.d{list-style: "$ ";}

.ml::first-letter{
    font-size: larger;
    font-weight: bold;
}

.container {
    padding: 10px 30px 10px
}
