h1 {
    background-color: black;
    color: maroon;
    font-family: Courier, monospace;
    text-align: center;
}
body {
    background-color: black;
    color: #00FF00; /* Green */
    font-family: Courier, monospace;
    text-align: justify;
    padding: 100px;
}
a:link {color: #0e810e; /* Green */}

a:visited{color:#0e810e;}
