h1 {
    background-color: bisque;
    color: maroon;
    font-family: Courier, monospace;
    text-align: center;
}
body {
    background-color: bisque;
    color: black; /* Green */
    font-family: Courier, monospace;
    text-align: justify;
    padding: 100px;
}
a:link {color: #6c0404; /* Green */}

a:visited{color:#1b581b;}
