body {
    padding-top: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #f3eeee;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

h1 {
    color: maroon;
    font-family: "Baskerville", serif;
    text-align: center;
    margin-top: 60px; 
    margin-bottom: 30px;
    font-size: 2.5em;
}

h2 {
    color: #333;
    text-align: center;
    font-size: 2em;
    margin-top: 30px; 
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

h1, h2, p {
    margin-left: 20px;
    margin-right: 20px;
}

.navbar {
    background-color: maroon;
    padding-top: 0.5rem;
    padding-bottom: 1rem; /* Increased bottom padding */
    width: 100%; /* Ensure the navbar spans the full width */
    position: fixed; /* Fix it to the top of the viewport */
    top: 0; /* Align it to the top */
    left: 0; /* Align it to the left */
    z-index: 1000; /* Ensure it stays on top of other content */
}

.navbar .container {
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /* Space out items within the container */
    align-items: center;
    width: 100%;
    max-width: 100%; /* Ensure it spans the full width */
}

.navbar, .navbar * {
    font-family: 'Arial', sans-serif !important;
}

.navbar-nav {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.navbar-nav .nav-item {
    position: relative;
    padding: 0 20px;
}

.navbar-nav .nav-link {
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 20px;
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {
    background-color: #953b39;
}


.navbar .dropdown-menu {
    display: none;
    position: absolute;
    background-color: maroon;
    border-radius: 5px;
    margin-top: 0.5rem;
    white-space: nowrap;
    z-index: 1000;
}

.navbar .nav-item:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    color: white;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    display: block;
    clear: both;
    white-space: nowrap;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #953b39;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
    }

    .navbar-nav .nav-item {
        padding: 10px 0;
    }

    .navbar-nav .nav-link {
        padding: 0.5rem 1rem;
        text-align: center;
    }

    .navbar .nav-item.dropdown .nav-link {
        padding-right: 1.5rem;
    }

    .navbar .dropdown-menu {
        text-align: center;
    }
}

.footer {
    background-color: maroon;
    padding: 0.25rem 0; /* Reduce padding for top and bottom */
    position: fixed; /* Make the footer's position fixed */
    bottom: 0; /* Position it at the bottom */
    width: 100%; /* Make it span the full width */
    z-index: 1000; /* Ensure it stays on top of other content */
    left: 0; /* Ensure it starts from the left edge */
}

.footer .container {
    padding: 0 1rem; /* Add padding for left and right */
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /* Space between the text and icons */
    align-items: center; /* Center align vertically */
    max-width: 100%; /* Ensure it spans the full width */
}

.footer .left-content {
    flex-grow: 1; /* Allow the left content to grow */
}

.footer .right-content {
    display: flex;
    justify-content: flex-end; /* Align icons to the right */
    gap: 10px; /* Add space between the icons */
    margin-right: 1rem; /* Add margin to ensure space from the right boundary */
}

.footer, .footer * {
    font-family: 'Arial', sans-serif;
}

.footer h2 {
    color: white;
    margin: 0; /* Remove default margin */
    font-size: 1rem; /* Adjust font size to be smaller */
}

.footer .icon-button {
    color: white;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px; /* Reduce width */
    height: 30px; /* Reduce height */
    padding: 3px; /* Add padding for spacing */
}

.footer .icon-button i {
    font-size: 1.2rem; /* Adjust icon size */
}

.footer .icon-button:hover, .footer .icon-button:focus {
    background-color: #953b39;
}

@media (max-width: 768px) {
    .footer .container {
        flex-direction: column;
        text-align: center;
        padding: 0; /* Remove padding on small screens */
    }

    .footer h2 {
        margin-bottom: 10px;
    }

    .footer .right-content {
        justify-content: center; /* Center icons on small screens */
        gap: 5px; /* Reduce space between icons on small screens */
    }
}
.btn-primary {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    background-color: maroon;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
#volumeSlider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background-color: white;
    cursor: pointer;
    border-radius: 50%;
}

#volumeSlider::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: transparent 0px 0px 0px, transparent 0px 0px 0px;
    background: maroon; 
    border-radius: 1.3px;
    border: 0px solid #000000;}